// 
// SIZES ---------
// 

$nav-height: 60px;

$xs-size: 10px;
$s-size: 12px;
$m-size: 16px;
$l-size: 32px;
$xl-size: 48px;
$xxl-size: 56px;

$top: 100px;
$top-mobile: 85px;
$bottom: 150px;
$line-height: 24px;

$pad-desktop: 100px;